    <div id="navbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          
          <a class="brand" href="/">Beretta Service</a>
          
           <ul class="nav">

              
            </ul>
          
        </div>
      </div>
      
      <div id="subnav"></div>
      
    </div>

<div class="container-fluid ">
    
      <div class="row-fluid">

       <div id="content" class="span12">

       </div>

      </div>
</div> <!-- /container -->